.footer {
    background-color: #f5f5f5;
    padding: 5px;
    text-align: center;

    bottom: 0;
    width: 100%;

}

.navbar-wrapper {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.margin-control {
    margin: 0;
}

.login-form {
    width: 450px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}

.signup-form {
    width: 450px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}

.left-panel {
    float: left;
    width: 50%;
    height: 100vh;
    /* set the height to the full viewport height */
    background-color: #230dc6;
    /* change this to your desired background color */
}

.right-panel {
    float: left;
    width: 50%;
    height: 100vh;
    /* set the height to the full viewport height */
    background-color: #bf2121;
    /* change this to your desired background color */
}

.profile-left-panel {
    float: left;
    width: 20%;
    height: 100vh;
    /* set the height to the full viewport height */
    background-color: #222221;
    /* change this to your desired background color */
}

.profile-right-panel {
    float: left;
    width: 80%;
    height: 100vh;
    /* set the height to the full viewport height */
    background-color: #9bb19c;
    /* change this to your desired background color */
}

.index-intro {
    width: 100%;
    text-align: center;


}

/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}